---
import Layout from "../../layouts/Layout.astro";
import PageKeyVisual from "../../components/sections/PageKeyVisual.astro";
import HeaderH1 from "../../components/ui/HeaderH1.astro";
---

<Layout title="プライバシーポリシー" breadcrumb="プライバシーポリシー">
  <PageKeyVisual>
    <HeaderH1>プライバシーポリシー</HeaderH1>
  </PageKeyVisual>

  <section class="px-4 pt-6 pb-8 md:pb-10" aria-label="プライバシーポリシー">
    <div class="mx-auto w-full max-w-(--container)">ここに本文が入ります</div>
  </section>
</Layout>
