---
import Layout from "../layouts/Layout.astro";
import PageKeyVisual from "../components/sections/PageKeyVisual.astro";
import ContactForm from "../components/sections/ContactForm.astro";
import HeaderH1 from "../components/ui/HeaderH1.astro";
---

<Layout title="お問い合わせ" breadcrumb="お問い合わせ" showCtaSectionContact={false} showCtaSectionIntro={false}>
  <PageKeyVisual waveFill="#f3faff">
    <HeaderH1>お問い合わせ</HeaderH1>
  </PageKeyVisual>
  <section class="bg-(--base-bg-lblue) pt-12 pb-12">
    <ContactForm variant="pro-light" sectionId="home-contact-form" />
  </section>
</Layout>
