---
import { ROUTES } from '../../data/routes';

interface Props {
	class?: string;
}

const { class: className = '' } = Astro.props;
---

<a href={ROUTES.home} class:list={['site-logo inline-block shrink-0', className]}>
	<img
		src="/images/logo-site.png"
		alt="集客のチカラ"
		class="h-[26px] w-auto max-w-[140px] object-contain object-left"
		width="140"
		height="26"
	/>
</a>
